In [10]:
import pandas as pd
import matplotlib.pyplot

In [4]:
bans = pd.read_csv('../data/PEN_book_bans.csv')
bans

,Title,Author,State,District,Date of Challenge/Removal,Banned Status,Ban Origin
0,All Boys Aren't Blue,"Johnson, George M.",Arkansas,Farmington Public Schools,Mar-23,Banned from Libraries,Formal Challenge
1,Beyond Magenta: Transgender Teens Speak Out,"Kuklin, Susan",Arkansas,Conway Public Schools,Oct-22,Banned from Libraries and Classrooms,Unclear
2,Felix Ever After,"Callender, Kacen",Arkansas,Conway Public Schools,Oct-22,Banned from Libraries and Classrooms,Unclear
3,Tricks,"Hopkins, Ellen",Arkansas,Farmington Public Schools,Mar-23,Banned from Libraries,Formal Challenge
4,This Book Is Gay,"Dawson, Juno",California,William S. Hart Union High School District,Sep-22,Banned from Libraries and Classrooms,Unclear
...,...,...,...,...,...,...,...
3358,Speak,"Anderson, Laurie Halse",Wyoming,Park County School District #1,Feb-23,Banned Pending Investigation,Administration
3359,The Handmaid's Tale,"Atwood, Margaret",Wyoming,Park County School District #1,Feb-23,Banned Pending Investigation,Administration
3360,"Trans Bodies, Trans Selves: A Resource By and ...","Erickson-Schroth, Laura",Wyoming,Natrona County Schools,Oct-22,Banned Pending Investigation,Formal Challenge
3361,Tricks,"Hopkins, Ellen",Wyoming,Natrona County Schools,May-23,Banned from Libraries,Formal Challenge
3362,What Girls Are Made Of,"Arnold, Elana K.",Wyoming,Park County School District #1,Feb-23,Banned Pending Investigation,Administration

In [13]:
statebans = bans['State'].value_counts().to_frame().reset_index()
statebans

             State  count
0          Florida   1406
1            Texas    625
2         Missouri    333
3             Utah    281
4     Pennsylvania    186
5   South Carolina    127
6         Virginia     75
7   North Carolina     58
8        Wisconsin     43
9         Michigan     39
10          Oregon     38
11    North Dakota     27
12           Idaho     25
13         Wyoming     15
14           Maine     13
15       Tennessee     11
16        Colorado      8
17          Kansas      7
18        Nebraska      6
19            Iowa      6
20        New York      6
21        Arkansas      4
22         Georgia      4
23        Kentucky      3
24         Indiana      3
25      New Jersey      3
26        Oklahoma      2
27    South Dakota      2
28   West Virginia      2
29      California      1
30   New Hampshire      1
31           State      1
32       Minnesota      1
33   Massachusetts      1

In [21]:
scores = pd.read_csv('../data/ACT_Scores_by_State.csv').dropna()
scores

,State,2018 Composite,2018 English,2018 Math,2018 Reading,2018 Science,2022 Composite,2022 English,2022 Math,2022 Reading,2022 Science
0,Alabama,19.1,18.9,18.3,19.6,19.0,18.0,17.3,17.4,18.5,18.2
1,Alaska,20.8,19.8,20.6,21.6,20.7,20.4,19.3,20.0,21.4,20.4
2,Arizona,19.2,18.2,19.4,19.5,19.2,18.4,17.3,18.5,18.8,18.5
3,Arkansas,19.4,19.1,18.9,19.7,19.4,18.8,18.3,18.1,19.2,19.1
4,California,22.7,22.5,22.5,23.0,22.1,26.5,26.9,25.6,27.3,25.8
5,Colorado,23.9,23.9,23.2,24.4,23.5,23.2,23.0,22.4,24.0,23.0
6,Connecticut,25.6,26.0,24.8,26.1,24.9,26.3,26.8,25.3,27.1,25.7
7,Delaware,23.8,23.7,23.1,24.5,23.4,24.9,25.3,23.6,26.1,24.3
8,District of Columbia,23.6,23.7,22.7,24.4,23.0,26.9,27.4,25.2,28.2,26.0
9,Florida,19.9,19.2,19.3,21.1,19.5,19.0,18.5,18.4,20.0,18.8
10,Georgia,21.4,20.9,20.7,22.1,21.2,21.6,21.0,20.8,22.5,21.5
11,Hawaii,18.9,18.2,19.0,19.1,19.0,18.8,17.6,18.6,19.4,19.1
12,Idaho,22.3,21.9,21.6,23.2,22.1,22.8,22.3,22.2,23.7,22.6
13,Illinois,23.9,24.1,23.4,24.2,23.4,24.5,24.8,23.7,25.2,24.0
14,Indiana,22.5,21.9,22.3,23.1,22.2,22.8,22.1,22.5,23.7,22.5
15,Iowa,21.8,21.0,21.2,22.5,22.0,21.4,20.4,20.6,22.3,21.6
16,Kansas,21.6,21.0,21.1,22.3,21.5,19.9,18.9,19.4,20.6,20.1
17,Kentucky,20.2,19.9,19.7,20.8,20.1,18.6,17.8,18.0,19.2,18.7
18,Louisiana,19.2,19.0,18.5,19.6,19.1,18.1,17.6,17.4,18.6,18.3
19,Maine,24.0,23.8,23.6,24.7,23.4,25.1,25.2,23.7,26.2,24.6
20,Maryland,22.5,22.1,22.0,23.1,22.2,24.4,24.6,23.0,25.4,23.9
21,Massachusetts,25.5,25.5,25.2,25.9,24.7,26.5,26.6,25.6,27.3,25.8
22,Michigan,24.4,24.5,23.9,24.7,23.9,24.6,24.7,23.9,25.2,24.2
23,Minnesota,21.3,20.2,21.4,21.7,21.4,21.0,19.7,20.7,21.7,21.4
24,Mississippi,18.6,18.2,18.1,18.9,18.6,17.8,17.2,17.4,18.2,18.0
25,Missouri,20.0,19.5,19.7,20.5,20.0,20.2,19.5,19.5,21.0,20.4
26,Montana,20.0,18.7,19.9,20.7,20.0,19.3,18.0,19.0,20.1,19.5
27,Nebraska,20.1,19.4,19.8,20.4,20.1,19.4,18.6,19.1,19.8,19.6
28,Nevada,17.7,16.6,17.8,18.0,17.9,17.3,16.1,17.1,17.8,17.6
29,New Hampshire,25.1,25.1,24.7,25.6,24.4,25.7,25.7,25.0,26.5,25.2
30,New Jersey,23.7,23.8,23.6,24.0,23.0,24.6,24.9,23.9,25.1,24.0
31,New Mexico,19.4,18.3,19.1,20.1,19.7,19.8,18.7,19.1,20.9,20.1
32,New York,24.5,24.2,24.2,24.9,24.2,25.3,25.2,24.6,26.0,25.0
33,North Carolina,19.1,18.0,19.3,19.5,19.2,18.5,17.1,18.5,19.2,18.8
34,North Dakota,20.3,19.1,20.3,20.7,20.5,19.2,17.9,19.1,19.7,19.6
35,Ohio,20.3,19.3,20.3,20.8,20.4,19.4,18.2,19.2,20.0,19.7
36,Oklahoma,19.3,18.4,18.8,20.1,19.4,17.9,17.0,17.3,18.6,18.2
37,Oregon,21.3,20.6,20.9,21.9,21.1,23.0,22.5,22.0,24.2,22.8
38,Pennsylvania,23.5,23.3,23.2,24.0,23.1,24.4,24.3,23.7,25.2,24.0
39,Rhode Island,24.2,24.4,23.6,25.0,23.5,25.2,25.3,24.0,26.2,24.7
40,South Carolina,18.3,17.3,18.2,18.6,18.5,18.9,17.8,18.5,19.6,19.1
41,South Dakota,21.9,20.8,21.6,22.4,22.2,21.5,20.5,21.2,22.2,21.7
42,Tennessee,19.6,19.4,19.1,19.9,19.6,18.6,18.0,18.1,19.0,18.6
43,Texas,20.6,19.6,20.6,21.1,20.8,19.8,18.7,19.5,20.4,19.9
44,Utah,20.4,19.7,19.9,20.9,20.5,19.9,18.9,19.4,20.6,20.2
45,Vermont,24.1,23.9,23.4,24.9,23.8,23.7,23.4,22.4,25.0,23.5
46,Virginia,23.9,23.8,23.3,24.7,23.5,24.6,24.6,23.5,25.7,24.3
47,Washington,22.2,21.4,22.2,22.7,22.0,24.6,24.3,23.6,25.6,24.3
48,West Virginia,20.3,19.8,19.4,21.3,20.4,20.5,20.2,19.4,21.4,20.4
49,Wisconsin,20.5,19.8,20.3,20.6,20.8,19.4,18.3,19.3,19.7,19.8
50,Wyoming,20.0,19.0,19.7,20.6,20.3,19.2,18.1,18.9,20.0,19.5

In [31]:
merged = pd.merge(statebans, scores, on = 'State', how = 'inner')
merged

Empty DataFrame
Columns: [State, count, 2018 Composite, 2018 English, 2018 Math, 2018 Reading, 2018 Science, 2022 Composite, 2022 English, 2022 Math , 2022 Reading, 2022 Science]
Index: []

In [32]:
## NEED TO MERGE THEM THEN MAKE GRAPHS